
.player-sel > p {
    font-size: 3rem;
    font-style: bold;
    color: white;
}

@keyframes slideFadeIn {
  0% {
    opacity: 0;
    transform: translateY(15px) scale(0.95);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.player-sel {
    display: grid;
    grid-template-areas: 
        "headline headline"
        "first-player second-player"
        "button button";
    justify-content: center;
    align-items: center;
    gap: 10rem;
    animation: slideFadeIn 0.4s ease-out forwards;
    gap: 7.5rem;
}

.player-sel > p {
    grid-area: headline;
    text-align: center;
}

.player-sel > div:first-of-type {
    grid-area: first-player;
}

.player-sel > div:last-of-type {
    grid-area: second-player;
}

.player-sel > button {
    grid-area: button;
    width: fit-content;
    justify-self: center;

    font-size: 3rem;
    border-radius: 0.5rem;
    background-color: #2e383f;
    color: white;
    transition: 0.3s;
}

.player-sel > button:hover {
    scale: 1.1;
    background-color: #f9a828;
}
