
.master-div {
    display: inline-grid;
    grid-template-areas: 
        "player-pres player-pres"
        "button-control ship-count"
        "board board";
    width: 50rem;
    justify-content: space-between;
    align-items: center;
    gap: 0px 1rem 0px 1rem;
}

.master-div > p:first-of-type {
    grid-area: player-pres;
    text-align: center;
    font-size: 2rem;
    color: white;
}

.master-div > div:first-of-type {
    grid-area: button-control;
    color: white;
}

.master-div > div:nth-of-type(2) {
    grid-area: ship-count;
    color: white;
}

.master-div > div:last-of-type {
    grid-area: board;
    justify-self: center;
}

.master-div > div:not(:last-of-type) {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.75rem;
}

.toggleCheckbox {
    display: none;
}

.toggleContainer {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: fit-content;
    border: 3px solid rgb(0, 0, 0, 0.7);
    border-radius: 20px;
    background: rgb(0, 0, 0, 0.7);
    font-weight: bold;
    color: rgb(0, 0, 0, 0.7);
    cursor: pointer;
}

.toggleContainer::before {
    content: '';
    position: absolute;
    width: 50%;
    height: 100%;
    left: 0%;
    border-radius: 20px;
    background: white;
    transition: all 0.3s;
}

.toggleContainer div {
    padding: 6px;
    text-align: center;
    z-index: 1;
}

.toggleCheckbox:checked+.toggleContainer::before {
    left: 50%;
}

.toggleCheckbox:checked+.toggleContainer div:first-child {
    color: white;
    transition: color 0.3s;
}

.toggleCheckbox:checked+.toggleContainer div:last-child {
    color: rgb(0, 0, 0, 0.7);
    transition: color 0.3s;
}

.toggleCheckbox+.toggleContainer div:first-child {
    color: rgb(0, 0, 0, 0.7);
    transition: color 0.3s;
}

.toggleCheckbox+.toggleContainer div:last-child {
    color: white;
    transition: color 0.3s;
}