.tile-board {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 40rem;
    height: 40rem;
    gap: 5px;
    background-color: black;
    border-radius: 10px;
    box-sizing: border-box;
    margin: 0px;
    padding: 10px;
}

.tile-board > * {
    /* flex-basis: calc(10% - 5px); */
    background-color: #2e383f;
    aspect-ratio: 1 / 1;
    box-sizing: border-box;

    height: auto;
    width: auto;

    transition: 0.1s ease;
}

.space {
    background-color: gray;
}

.placement {
    background-color: blue;
}

.valid {
    background-color: green;
}

.invalid {
    background-color: red;
}


