
* {
    font-family: "Orbitron";
}

body {
    gap: 0px;
    margin: 0px;
    padding: 0px;
    color: #000;
    overflow-x: hidden;
}

main {
    height: 80vh;
}

#background {
    position: fixed;
    z-index: -1;
    inset: 0;
    filter: blur(5px);
}

#background > img {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    border: none;
}

.center-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#op-sel button {
    font-size: 2rem;
}

#menu{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    height: 100%;
    padding: 2rem;
    box-sizing: border-box;
}

#menu > button {
    font-size: 4rem;
    border-radius: 0.5rem;
    background-color: #2e383f;
    color: white;
    transition: 0.3s;
}

#menu > button:hover {
    scale: 1.1;
    background-color: #f9a828;
}

#player-sel > p {
    font-size: 3rem;
}

#player-sel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10rem;
}

/* Footer section */

footer {
    display: fixed;
    height: 20vh;
    bottom: 0px;
    width: 100vw;
    background-color: #062452;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: #000 solid 0.4rem;
}

#info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: center;
    height: 100%;
    gap: 0px;
}

#info > img {
    height: 17.5vh;
    width: auto;
    grid-area: 1 / 1 / 2 / 2;
    border-radius: 10px;
    border-style: solid;
}

#info-text {
    height: 18vh;
    width: 40vw;
    grid-area: 1 / 2 / 2 / 4;
    border-radius: 10px;
    border-style: solid;
    background-color: #4f6464;
}


